.full{
    width: 100%;
    height: auto;
    padding: 12%;
    background: url('../img/efata.jpg') fixed no-repeat;
    opacity: 0.5;
    -webkit-background-size: cover;  
    -o-background-size: cover;  
    -moz-background-size: cover;  
    background-size: cover;
    
    position: relative !important;
  
}

.fu {
    background: url('../img/efata.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

.has-float-label input, select{
    font-size:150%;
    color: black !important;
    font-weight: bold ;
}


.btn{
    width: 100%;
    position: relative;
    /*padding: .475rem .75rem*/
    font-size: 120% !important;

}

.navbar-orange{
  color: #fff !important; 
}
.bg-orange {
  background-color: #fff !important;
}


.caixa{
   margin-left: 250px;
   padding-top: 15px;


}
@media (min-width: 576px) {
  .caixa {
    margin-left: 50px;
   
  }
}

@media (min-width: 768px) {
  .caixar {
    margin-left: 50px;
 }
}

@media (min-width: 992px) {
  .caixa {
    margin-left: 250px;
    
  }
}

@media (min-width: 1200px) {
  .caixa {
    margin-left: 250px;
   
  }
}

