.full{
    width: 100%;
    height: auto;
    padding: 12%;
    background: url('../img/efata.jpg') fixed no-repeat;
    opacity: 0.5;
    -webkit-background-size: cover;  
    -o-background-size: cover;  
    -moz-background-size: cover;  
    background-size: cover;
    
    position: relative !important;
  
}

.fu {
    background: url('../img/efata.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

.has-float-label input, select{
    font-size:150%;
    color: black !important;
    font-weight: bold ;
}


.btn{
    width: 100%;
    position: relative;
    /*padding: .475rem .75rem*/
    font-size: 120% !important;

}

.navbar-orange{
  color: #fff !important; 
}
.bg-orange {
  background-color: #fff !important;
}


.caixa{
   margin-left: 250px;
   padding-top: 15px;


}
@media (min-width: 576px) {
  .caixa {
    margin-left: 50px;
   
  }
}

@media (min-width: 768px) {
  .caixar {
    margin-left: 50px;
 }
}

@media (min-width: 992px) {
  .caixa {
    margin-left: 250px;
    
  }
}

@media (min-width: 1200px) {
  .caixa {
    margin-left: 250px;
   
  }
}
.colorir{
    background-color: #fcc;
 }

  /* Coded with love by Mutiullah Samim */
     
    .login_btn {
      width: 0%;
      background: #ff5c33 !important;
      color: white !important;
    }
    .login_btn:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }
    .login_container {
      padding: 0 2rem;
    }
    .input-group-text {
      background: #ff5c33 !important;
      color: white !important;
      border: 0 !important;
      border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
      box-shadow: none !important;
      outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
      background-color: #ff5c33 !important;
    }

 .btn-color {
  color: #fff;
  background-color: #ff5c33;
  border-color: #ff5c33;
  border-radius: 6px;
}

.btn-color:hover {
  color: #fff;
  background-color: #ff5c33;
  opacity: 0.8;
  border-color: #ff5c33;
}

.text-black{
  color: #000;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
