.ui-autocomplete {
  position: absolute;
  z-index: 2150000000 !important;
  cursor: default;
  border: 2px solid #ccc;
  padding: 5px 0;
  border-radius: 2px;
  font-size:15px;
  font-family: 'Oswald', sans-serif;
} 

 #faixa
     {
       background-color:#0288D1;
       width: auto;
       padding-top: 9px ;
    
       margin: 5px 5px 0px 5px !important;
       height: 50px;
               
     }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}

    /* substitua 200px pela altura do quadro com duas linhas, "MELHOR" */
  .min-height-200 { 
      min-height: 350px; 
      margin: 0px 5px 5px 5px;
      border-radius: 8px;  
      text-transform: uppercase;

    } 
 
  .min-height-600 { 
      min-height: 600px; 
      margin: 5px 5px 5px 5px;
      border-radius: 8px;
      height:auto;  
    } 

      #my-div {
        background-color: lightgrey;
        width: 200px;
        height: 200px;
        }

        a.fill-div {
        text-align: center;
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        }
        div.texto_p{
              font-size:17px;
              margin: 0px 10px 10px 10px;
              cursor:pointer;
              font-family: 'Oswald', sans-serif;
        }
 
#slider_filtro
{
    width: 21em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.total {
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #808080;
    text-align: right;
}

.totalInner {
    display: inline-block;
    width: 250px;
}

 .totalInner .price {
     margin-top: 20px;
     font-size: 22px;
 }

.totalInner .price #priceValue {
    font-size: 32px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
   }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
       /* substitua 200px pela altura do quadro com duas linhas, "MELHOR" */
     
.box {
       background-color: #fefefe;
       border-radius: 5px;
       }
  @media (min-width: 350px) 
       {
         .container-box {
         margin: 5px 5px 5px 5px !important;
         display: grid;
         text-align:left;
         grid-gap: 1rem;
         grid-template-rows: repeat(2, 200px);
         grid-template-columns:  repeat(1, 1fr);
         object-fit: cover;
                }
      .a {  grid-column: 1/-1; overflow-y: scroll;  grid-row: 1/2;}
      .b {  grid-column: 1/-1; grid-row: 2/-1; }

    }

    @media (min-width: 620px) 
         {
           .container-box {
           margin: 5px 5px 5px 5px !important;
           display: grid;
           text-align:center;
           grid-gap: 0.5rem;
           grid-template-columns:  repeat(1, 1fr);
           grid-template-rows: repeat(2, 100px);
           object-fit: cover;
                  }
         .a {  grid-column: 1/-1; overflow-y: scroll;  grid-row: 1/2;  }
         .b {  grid-column: 1/-1; grid-row: 2/-1; }
            
            }
   
         @media (min-width: 960px) 
         {
           .container-box {
           margin: 5px 1px 5px 1px !important;
           display: grid;
           text-align:left;
           grid-gap: 1rem;
           grid-template-columns:  repeat(2, 1fr);
           object-fit: cover;
           grid-template-rows: repeat(1, 1fr);
           }
               
       .a {  grid-column: 1/ 2;  overflow-y: scroll;
        grid-row: 1 / -1;
       
           }
     
      .b {  grid-column: 2/ -1;
       grid-row: 1 / -1; 
        }
   
     
    }
