.ui-autocomplete {
    position: absolute;
    z-index: 2150000000 !important;
    cursor: default;
    border: 2px solid #ccc;
    padding: 5px 0;
    border-radius: 2px;
    font-size:15px;
    font-family: 'Oswald', sans-serif;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #7B1FA2;
    background-color: #7B1FA2;
}

.min-height-100 { 
    min-height: 50px; 
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    background-color: #0099ff;
    color:#ffffff;  
     }

     p {
color: black;
font: 100 4em/150% Impact;
text-align: center;}
     /* loading dots */

.loading:after {
content: ' .';
animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
0%, 20% {
color: rgba(0,0,0,0);
text-shadow:
  .25em 0 0 rgba(0,0,0,0),
  .5em 0 0 rgba(0,0,0,0);}
40% {
color: white;
text-shadow:
  .25em 0 0 rgba(0,0,0,0),
  .5em 0 0 rgba(0,0,0,0);}
60% {
text-shadow:
  .25em 0 0 white,
  .5em 0 0 rgba(0,0,0,0);}
80%, 100% {
text-shadow:
  .25em 0 0 white,
  .5em 0 0 white;}}

  .grade-disciplinas .table th,.grade-disciplinas .table td{border-top:0 solid transparent}
  .grade-disciplinas .table th:last-child, .grade-disciplinas .table td:last-child{white-space:nowrap}
  .grade-disciplinas .table th .fa-clock-o, .grade-disciplinas .table td .fa-clock-o{color:#e4e4e4;margin-right:2px;margin-left:2px}
  .grade-disciplinas .table tr:last-child td{border-bottom:2px solid #BF4631}
  .grade-disciplinas .table tr:first-child td {border-top:2px solid #BF4631}
  .grade-disciplinas .table thead th{border-top:0 solid transparent}
  
  .red{ color: red;}